.calculator {
  background-color: #ffe5e099;
  padding: 100px;
  width: 340px;
  margin: 40px auto;
  border-radius: 16px;
}

.display {
  background-color: #fcf9f9d7;
  padding: 16px;
  border-radius: 12px;
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-bottom: 50px;
  color: rgb(155, 102, 102);
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
}

button {
  border: none;
  cursor: pointer;
  width: 80px;
  height: 60px;
  background-color: #ecc6bfcc;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 12px;
  color:rgb(155, 102, 102);
  transition: 0.1s;
  
}

button:hover {
  background-color: rgb(105, 83, 83);
}

button:active {
  transform: scale(1.1) rotate(-3deg);
}