body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  background: url("/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

p {
  margin: 0;
}